<HTML>
    <%def rooturl=Jenkins.instance.getRootUrl()%>

    <HEAD>
        <STYLE type="text/css">

            a {
                color: #4a72af
            }
            body {
                background-color: #e4e4e4
            }
            body, p {
                margin: 0;
                padding: 0
            }
            img {
                display: block;
            }
            h1, h2, h3, h4, h5, h6 {
                margin: 0 0 .8em 0;
            }
            h3 {
                font-size: 28px;
                color: #444 !important;
                font-family: Arial, Helvetica, sans-serif
            }
            h4 {
                font-size: 22px;
                color: #4a72af !important;
                font-family: Arial, Helvetica, sans-serif
            }
            h5 {
                font-size:18px;
                color: #444 !important;
                font-family: Arial, Helvetica, sans-serif
            }
            p {
                font-size: 12px;
                color: #444 !important;
                font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
                line-height:1.5
            }
            ol li img {
                display: inline;
                height: 20px
            }
            .news {
                text-align: center;
                padding-top: 15px;
            }
            .content {
                width: 720px;
                margin: 0 auto;
                background-color: white
            }
            .round_border {
                margin-bottom: 5px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                margin-top: 0;
                font-size: 14px;
                padding: 6px;
                border: 1px solid #ccc
            }
            .status {
                background-color: <%=parseBuildResult(build.result.toString())%>;
                font-size: 28px;
                font-weight: bold;
                color: white;
                width: 720px;
                height: 52px;
                margin-bottom: 18px;
                text-align: center;
                vertical-align: middle;
                border-collapse: collapse;
                background-repeat: no-repeat
            }
            .status .info {
                color: white !important;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
                font-size: 32px;
                line-height: 36px;
                padding: 8px 0
            }
            .main img {
                width: 38px;
                margin-right: 16px;
                height: 38px
            }
            .main table {
                font-size: 14px;
            }
            .main table th {
                text-align: right;
            }
            .bottom-message {
                width: 720px;
                cellpadding: 5px;
                cellspacing: 0px;
            }
            .bottom-message .message {
                font-size: 13px;
                color: #aaa;
                line-height: 18px;
                text-align: center;
            }
            .bottom-message .designed {
                font-size: 13px;
                color: #aaa;
                line-height: 18px;
                font-style: italic;
                text-align: right;
            }
            img.cartoon {
                width: 36px;
                display:inline;
            }
        </STYLE>
    </HEAD>

    <BODY>

        <%
            def String parseBuildResult(String status){
            if (status == "SUCCESS") {return "green"}
            if (status == "FAILURE" || status == "NOT_BUILD" || status == "ABORTED" ) { return "red" }
            return "goldenrod"
            }

            def String renameState(String status){
            if (status == "SUCCESS") {return "success"}
            if (status == "FAILURE") {return "failed"}
            if (status == "NOT_BUILD") {return "not build"} 
            if (status == "ABORTED") {return "aborted"}
            return "unstable"
            }

            def add_string(a_title)
            {
                def mvn_url = build.getEnvironment().get( 'MVN_URL' )
                if (mvn_url.endsWith("/")) { 
                    mvn_url = mvn_url.substring(0, mvn_url.lastIndexOf("/")) 
                }
                def title_written = false;
                def artifacts_txt = it.getAction("org.jenkinsci.plugins.workflow.cps.EnvActionImpl").getEnvironment().get( 'ARTIFACTS_TXT' )
                def artifacts = artifacts_txt
                    ?.readLines()
                    ?.findAll { it?.trim() }

                for ( artif in artifacts )
                {
                    def artif_l = artif.trim();
                    def lsgrp = artif_l.split( ":" );

                    if ( lsgrp.size() < 3 )
                    {
                        continue;
                    }

                    if ( lsgrp.size() == 3 )
                    {
                        lsgrp += ["jar"]
                    }

                    if ( !title_written )
                    {
                        
                        %><tr><th><b>${a_title}<b></th></tr><%
                        title_written = true;
                    }

                    def artif_url = [mvn_url, "maven-virtual"].join('/');
                    def artif_fn = [lsgrp[1], lsgrp[2]].join('-');
                    if ( lsgrp.size() > 4) {
                        artif_fn = [artif_fn, lsgrp[4]].join('-')
                    }
                    artif_fn = [artif_fn, lsgrp[3]].join('.')
                    artif_url = [artif_url, lsgrp[0].replaceAll('\\.', '/'), lsgrp[1], lsgrp[2], artif_fn].join('/')
                    %><tr><td>File link: </td><td> <a href="${artif_url}">${artif_fn}</a></td></tr>
                    <tr><td>FILE_LIST format: </td><td> <b>${artif_l}</b></td></tr> <%
                }
                return;
            }
        %>


        <%
            if (rooturl.indexOf("test") != -1) {
                %>
                    <center>
                        <h4>NB! This email has been sent from a test system.</h4>
                    </center>
                <%
            }
        %>
        <div class="content round_border">
            <div class="status">
                <p class="info">${project.name} ${build.displayName} <%= renameState(build.result.toString()) %></p>
            </div>

            <div class="main round_border">
                <table>
                    <tbody>
                        <tr>
                            <th>Build URL:</th>
                            <td><a href="${rooturl}${build.url}">${rooturl}...</a></td>
                        </tr>
                        <tr>
                            <th>Date of build:</th>
                            <td>${it.timestampString}</td>
                        </tr>
                        <tr>
                            <th>Build duration:</th>
                            <td>${build.durationString}</td>
                        </tr>
                        <tr>
                            <th>Changes:</th>
                            <td><a href="${rooturl}${build.url}changes">${rooturl}...changes</a></td>
                        </tr>
                        <%
                            add_string("Uploaded to Artifactory:" ); 
                        %>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <table class="bottom-message" align="center">
            <tr>
                <td class="message">You are receiving this email because you are relevant to this build<br>
                    <p>
                        CDT team
                    </p>
                </td>
            </tr>
        </table>
    </BODY>
</HTML>
