<HTML>
    <HEAD>
        <STYLE type="text/css">

            a {
                color: #4a72af
            }
            body {
                background-color: #e4e4e4
            }
            body, p {
                margin: 0;
                padding: 0
            }
            img {
                display: block;
            }
            h1, h2, h3, h4, h5, h6 {
                margin: 0 0 .8em 0;
            }
            h3 {
                font-size: 28px;
                color: #444 !important;
                font-family: Arial, Helvetica, sans-serif
            }
            h4 {
                font-size: 22px;
                color: #4a72af !important;
                font-family: Arial, Helvetica, sans-serif
            }
            h5 {
                font-size:18px;
                color: #444 !important;
                font-family: Arial, Helvetica, sans-serif
            }
            p {
                font-size: 12px;
                color: #444 !important;
                font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
                line-height:1.5
            }
            ol li img {
                display: inline;
                height: 20px
            }
            .news {
                text-align: center;
                padding-top: 15px;
            }
            .content {
                width: 720px;
                margin: 0 auto;
                background-color: white
            }
            .round_border {
                margin-bottom: 5px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
                margin-top: 0;
                font-size: 14px;
                padding: 6px;
                border: 1px solid #ccc
            }
            .status {
                background-color: ${STATUS_COLOR}; font-size: 28px;
                font-weight: bold;
                color: white;
                width: 720px;
                height: 52px;
                margin-bottom: 18px;
                text-align: center;
                vertical-align: middle;
                border-collapse: collapse;
                background-repeat: no-repeat
            }
            .status .info {
                color: white !important;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
                font-size: 32px;
                line-height: 36px;
                padding: 8px 0
            }
            .main img {
                width: 38px;
                margin-right: 16px;
                height: 38px
            }
            .main table {
                font-size: 14px;
            }
            .main table th {
                text-align: right;
            }
            .bottom-message {
                width: 720px;
                cellpadding: 5px;
                cellspacing: 0px;
            }
            .bottom-message .message {
                font-size: 13px;
                color: #aaa;
                line-height: 18px;
                text-align: center;
            }
            .bottom-message .designed {
                font-size: 13px;
                color: #aaa;
                line-height: 18px;
                font-style: italic;
                text-align: right;
            }
            img.cartoon {
                width: 36px;
                display:inline;
            }
        </STYLE>
    </HEAD>

    <BODY>
        <div class="content round_border">
            <div class="status">
                <p class="info">${INFO_TEXT}</p>
            </div>

            <div class="main round_border">
                <table>
                    <tbody>
                        <tr>
                            <th>Build URL:</th>
                            <td><a href="${BUILD_URL}">${BUILD_URL}...</a></td>
                        </tr>
                        <tr>
                            <th>Date of build:</th>
                            <td>${BUILD_TIME}</td>
                        </tr>
                        <tr>
                            <th>Build duration:</th>
                            <td>${BUILD_DURATION}</td>
                        </tr>
                        <tr>
                            <th>Changes:</th>
                            <td><a href="${BUILD_URL}/changes">${BUILD_URL}...changes</a></td>
                        </tr>
                        <%
                            add_string("Uploaded to Artifactory:" ); 
                        %>
                        <% ARTIFACTS.each { a -> %>
                          <tr>
                              <td>File Link:</td>
                              <td><a href="${a.url}">${a.short_name}</a></td>
                          </tr>
                           <tr>
                              <td>File List format:</td>
                              <td><b>${a.full_name}</b></td>
                          </tr>
                        <% } %>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <table class="bottom-message" align="center">
            <tr>
                <td class="message">You are receiving this email because you are relevant to this build<br>
                    <p>
                        CDT team
                    </p>
                </td>
            </tr>
        </table>
    </BODY>
</HTML>
